.error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #e7bebd;
    background: #98252b;
    border-color: #220045;
}

.msg {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.err_bound {
    box-shadow: 0 0 3px #CC0000;
}

#login-box {
    width: 300px;
    padding: 10px;
    margin: 100px auto;
    background: #44535d;
    color: #b5dfe1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #290b00;
    border-radius: 10px 10px 10px 10px;
}

#body-box {
    width: auto;
    padding: 10px;
    margin: 100px auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 2px solid #8bbee1;
}

.title {
    margin: 1em 0 0.5em 0;
    font-weight: normal;
    position: relative;
    text-shadow: 0 -1px rgba(0,0,0,0.6);
    font-size: 28px;
    line-height: 40px;
    background: #5e738d;
    border: 1px solid #0c1016;
    padding: 5px 15px;
    color: #ffea67;
    border-radius: 0 10px 0 10px;
    box-shadow: inset 0 0 5px #0c1016;
    font-family: 'Muli', sans-serif;
}

.simple {
    margin: 1em 0 0.5em 0;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    font-size: 22px;
    line-height: 40px;
    color: #b5dfe1;
    text-transform: uppercase;
    border-bottom: 1px solid #5e738d;
}

.user {
    margin: 1em 0 0.5em 0;
    font-weight: 600;
    position: relative;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Muli', sans-serif;
    color: #efad00;
    bottom: 0;
    left: 0;
}
body {
    font-family:verdana;
    font-size:20px;
    background-color: #25252b;
    color: #b56d00
}
.link {color:#fff; text-decoration:none}
.link:hover {color:#fff; text-decoration:underline}
#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
}
#boxes .window {
    position:absolute;
    left:0;
    top:0px;
    -top: 40px;
    width:440px;
    height:200px;
    display:none;
    z-index:9999;
    padding: 20px;
    overflow: hidden;
}
#boxes #dialog {
    width:375px;
    height:203px;
    padding:10px;
    background-color:#ffffff;
}
.top {
    position:absolute;
    left:0;
    top:0;
    width:370px;
    height:30px;
    background: #653f00;
    padding: 8px 20px 6px 10px;
}
.close {
    float:right;
}
.content {
    padding-top: 35px;
}
A {
    color: #615fb5;
    text-decoration: none;
}
A:hover {
    color: #efad00;
}
.gold {
    color: #efad00;
}